<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<br>
<body>
<h1 style="color: red" class="emmm" >
  Vous pouvez nous contacter si vous avez une probleme !
</h1>
<br>
<div class="emmm">
<h5>
  <span class="glyphicon glyphicon-road"> </span> adresse : centre ville,rue msadak
</h5>
<h5>
  <span class="glyphicon glyphicon-phone"></span> numero de telephone : 27183548
</h5>
<h5><span class="glyphicon glyphicon-earphone"></span> numero de fixe : 73589652  </h5>
<h5> <span class="glyphicon glyphicon-envelope"></span> addresse mail : Hotel@gmail.com  </h5>
</div>
</body>
