


  <br>
  <h1 style="color: red">Details</h1>
  <br>
  <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <img
        src="{{product.image}}"
        style="max-height: 500px;"/>
    </div>
  </div>
    <br>

  <div class="pull-left">
    <h1 class="list-group-item-heading">{{product.title}}</h1>

    <h4 class="list-group-item-text">{{product.description}} Etoiles</h4>
    <h1 class="list-group-item-heading">{{product.price}} DT</h1>
  </div>

  </div>




